.expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    color: #416391;
    padding: 10px;
}
.first-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.1rem;
}
.second-col {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}
.second-col button {
    display: flex;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
}
.date {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0FEDAC;
    border-radius: 8px;
    border: 2px solid #0FEDAC;
    padding: 4px;
}
.date :nth-child(1) {
    font-weight: bold;
}
.date :nth-child(2) {
    font-weight: bold;
}
@media (max-width:575px) {
    .expense-item {
        padding: 0.3125rem;
    }
    .first-col, .second-col {
        gap:0.3125rem;
    }
    .second-col h2 {
        font-size: 16px;
    }
    .second-col button {
        padding: 0.3125rem;
    }
    .date {
        border: 1px solid #0FEDAC;
    }
}